div.suggestion{
    width: 95%;
    height: 240px;
    position: absolute;
    top: 1375px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

}
div.suggestion>a.suggestion>img{
    width: 310px;
    height: inherit;
    border-radius: 20px;
    cursor: pointer;
}